.myBtn {
    padding: 5px 15px;
    color: white;
    background-color:darkolivegreen;
    font-size: 15px;
    /* background: transparent; */
    border: 1px solid rgb(0, 128, 73);
    cursor: pointer;
    margin-top: 15px;
}