:root {
    --background-color-lightgreeen: rgb(244, 251, 246);
    --background-color-almostwight: rgb(250, 254, 248);
    --background-color-green: #63ad83;
    --background-color-semitransp: rgba(0, 0, 0, 0.4);
    --background-color-selected: #c2ffdf;
    --btn-color: #63ad83;
    --btn-border-color: rgb(0, 128, 73);

    --border-color: seagreen;

    --navbar-font: normal 100%/normal Arial, Helvetica, sans-serif;
}