@import './consts/const.scss';
*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-lightgreeen);
}

.App {
  //flex: 1 1 100%;
  max-width: 900px;
  padding: 0 30px;
  background-color: var(--background-color-almostwight);
}

